<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/myapp/AssignDboy_post/">
{% csrf_token %}
<input type="hidden" name="id" value="{{ product.id }}">
  <table width="200" border="1">

    <tr>
      <td>Name</td>
      <td><label>

        <select name="select" id="choose">
               {% for i in data %}
        <option value="{{ i.id }}">{{ i.D_Name }}</option>
              {% endfor %}
        </select>

      </label></td>
    </tr>

    <tr>
      <td colspan="2"><center><input type="submit" name="button" id="button" value="ASSIGN" /></center></td>
    </tr>


  </table>
</form>
</body>
</html>
