<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
    {% csrf_token %}

  <table width="523" border="1">
  <tr></tr>
  <tr>
    <td width="22">Product Name</td>
      <td width="55">MFD</td>
    <td width="54">EXP</td>
    <td width="64">Quantity</td>
    <td width="62">Price</td>

  </tr>
  <tr>
{#      {% for i in data %}#}

   <td width="22">{{ data.PRODUCT.Product_name }}</td>
      <td width="55">{{ data.PRODUCT.MFD }}</td>
    <td width="54">{{ data.PRODUCT.EXP }}</td>
    <td width="64">{{ data.Quantity }}</td>
    <td width="62">{{ data.PRODUCT.Rate }}</td>


  </tr>
{#      {% endfor %}#}
  </table>
</form>
</body>
</html>
