<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{# <a href="/myapp/AddProfile/">AddProfile</a><br>#}
<a href="/myapp/ViewProfile">ViewPofile</a><br>
<a href="/myapp/AddCategory/">AddCategory</a><br>
<a href="/myapp/ViewCategory/">ViewCategory</a><br>
<a href="/myapp/AddProduct/">Addproduct</a><br>
<a href="/myapp/ViewProduct/">ViewProduct</a><br>
<a href="/myapp/AddDBoy/">AddDeliveryBoy</a><br>
<a href="/myapp/ViewDBoy/">ViewDeliveryBoy</a><br>
<a href="/myapp/ViewAccRej/">viewAccRejAss</a><br>
{#<a href="/myapp/AssignDBoy/">AssignDBoy</a><br>#}
<a href="/myapp/ViewAssignStatus/">ViewAsssign</a><br>
<a href="/myapp/ViewReject/">ViewReject</a><br>
<a href="/myapp/changepwd/">ChangePassword</a><br>

{#<a href="/">ViewDeliveryStatus</a><br>#}



</body>
</html>