<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a href="/myapp/ViewRegister/">viewUserProfile</a><br>
<a href="/myapp/UserViewProduct/">UserViewProduct</a><br>
<a href="/myapp/User_ViewCart/">Cart</a><br>
<a href="/myapp/Vieworder/">Vieworder</a><br>
<a href="/myapp/ViewDeliveryStatus/">ViewDeliveryStatus</a><br>
<a href="/myapp/UserViewCatgory/">UserViewCategory</a><br>
<a href="/myapp/UserChangepwd/">UserChangePwd</a><br>

</body>
</html>