<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="456" border="1">
    <tr>
      <td width="145"><a href="#">Pastry</a></td>
      <td width="140"><a href="#">Snacks</a></td>
      <td width="149"><a href="#">Cakes</a></td>
      <td width="149"><a href="#">Cookies</a></td>
    </tr>
  </table>
</form>
</body>
</html>
